@import "tailwindcss";

@theme inline {
  --font-cinzel: var(--font-cinzel), serif;
}

body {
  background-color: #000511;
  color: white;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}